@using telefonrehberi.Models
@model List<departmanlar>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}
<br />

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Departman</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.id</td>
            <td>@x.departmanad</td>
            <td><a href="/depart/DepartmanSil/@x.id" class="btn btn-danger">SİL</a></td>
            <td><a href="/depart/DepartmanGetir/@x.id" class="btn btn-success">GÜNCELLE</a></td>
            <td><a href="#" class="btn btn-default"style="background-color:#ffd800">DETAYLAR</a></td>
        </tr>
    }
</table>
  <a href="/depart/YeniDepartman/" class="btn btn-primary">Yeni Departman ekle</a>